@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.artwork-img {
    @apply w-full sm:w-[90%] h-auto mx-auto;
  }